 @import "bootstrap";
 @import "main";

.post-container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 20px;

    .post {
        grid-column: span 1;
    }
}